<div class="container">
    <%= render 'shared/errors' %>

    <div class="row justify-content-center">
        <div class="col-10">
            <%= form_with(model: @article, class: 'shadow p-3 mb-3 bg-info rounded', local: true) do |form| %>
                <div class="form-group row">
                    <%= form.label :title, class: 'col-2 col-form-label text-light' %>
                    <div class="col-10">
                        <%= form.text_field :title, class: 'form-control', placeholder: 'Title of article' %>    
                    </div>
                </div>
                <br>
                <br>
                <div class="form-group row">
                    <%= form.label :description, class: 'col-2 col-form-label text-light' %>
                    <div class="col-10">
                        <%= form.text_area :description, rows: 10, class: 'form-control', placeholder: 'Article\'s description' %>
                    </div>
                </div>
                <br>
                <br>
                <div class="row justify-content-center text-center ">
                    <%= form.submit class: 'btn btn-outline-dark btn-lg text-white col-5' %>
                </div>
            <% end %>
        </div>
        <%= link_to '[ Cancel and return to articles listing ]', articles_path, class: 'text-center mt-4 ' %>
    </div>
</div>